
body {
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  margin-left: 15%;
  margin-right: 15%;
}

// Nav Item
div.row > div {
  text-align: center;
}

// Selected Nav Item Link
div.selected > a {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}

.c {
  // Override lit css font
  font: inherit;
}

a {
  color: #867BB7;
}

.disabled {
  color: #C3BDDB;
}

hr {
  border-color: #ccc;
  border-bottom-width: 1px;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.center {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}
