extends ../layouts/global

block variables 
  - const title = "Home"

block content
  h1.text-3xl.font-bold.underline Hello world!
  p Hi! This site is currently under construction but is deployed for testing. Check back later.
