extends ../layouts/global

block scripts 
  script(type='module' src='dist/home/index.js')

block variables 
  - const title = "Home"

block content
  h1.text-4xl.font-bold.text-center.mt-8 Chris Miller
  p.text-center.italic Computer Engineer / UX Designer / Maker
  div.text-center
    a(href="https://github.com/ChristopherJMiller").underline.mx-1 Github
    a(href="https://www.linkedin.com/in/christopherjmill").underline.mx-1 LinkedIn
  div.text-2xl.underline.mt-4.mb-3 Latest Blog Post
  div#root
