extends ../layouts/global

block scripts 
  script(type='module' src='dist/index.js')

block variables 
  - const title = "Tech"

block content
  h1.text-3xl.font-bold.underline.mb-3 Tech I've Worked On
  div#root
