block variables
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="Website of Christopher Miller")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(rel="icon", href="/favicon.png")
    link(rel="stylesheet", href="/main.css")
    link(rel="me", href="https://tech.lgbt/@alumux")
    title Chris Miller - #{title}
    block scripts
  body(class="bg-stone-50 dark:bg-stone-800 text-black dark:text-slate-200")
    div.container.mx-auto.my-2
      div.flex.justify-center.py-4
        img.object-none.object-center.rounded(src="img/me.jpg")
      div.flex.flex-row.justify-center.gap-6
        - var navs = [['Home', '/index.html'], ['Blog', '/blog.html'], ['Tech', '/tech.html'], ['Resume', 'https://raw.githubusercontent.com/ChristopherJMiller/Resume/master/resume.pdf']]
        each navlink in navs 
          include navlink.pug

      block content
