@import "tailwindcss";
@config "../tailwind.config.js";
@source "../src/**/*.rs";
@source "../allowlist.txt";

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 10em;
  width: 10em;
}
